@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

#fundoI{
    display: grid;
    object-fit: cover;
    grid-template-columns: minmax(33%, 300px) 33%;
}

.texto{
    font-family: "Italiana";
    font-size: 100px;
    cursor:default;
}

.texto2{
    font-family: "Italianno";
    font-size: 40px;
    cursor:default;
}

#fundoI h1{
    margin-top: 5%;
    grid-row: 1;
    grid-column: 2;
    justify-self:center;
}

#fundoI h3{
    margin-top: 17%;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

nav{
    grid-row: 1;
    grid-column: 2;
    margin-top: 35%;
    align-content: space-between;
    display:flex;
    flex-direction: column;
    gap: 30px;
}

nav button{
    border-width: 0;
    color: white;
    background: linear-gradient(to left,#B82F2F,#295924);
    border-radius: 10px;
    width: 219px;
    align-self: center;
}

#fundoI img{
    margin-top: 70%;
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
    width: 310%;
    height: auto;
}

#fundoVerde{
    background-color: #295924;
    height: 1700px;
    grid-row: 1;
    grid-column: 1;
}
#fundoVermelho{
    background-color: #B82F2F;
    height: 1700px;
    grid-row: 1;
    grid-column: 3;
}

body{
    padding: 0;
    margin: 0;
}